@model IEnumerable<Stock_4.Models.API_HolidayLocal>

@{
    ViewData["Title"] = "ApiHolidayUserIndex";
}

<h1>ApiHolidayUserIndex</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Occasion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Occasion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
           
        </tr>
}
    </tbody>
</table>
