@model IEnumerable<Stock4.Models.StockList>

@{
    ViewData["Title"] = "ValidUserHomePage";
    Layout = "_logoutuser";

}
<h1>Welcome @ViewBag.UserName</h1>

<div>
    <a asp-action="ValidUserIndex" class="btn btn-primary" role="button">List Of Stocks</a>
</div>
<br />
<div>
    <a asp-controller="UserWatchlist1" asp-action="Index" class="btn btn-primary" role="button">Watchlist</a>
</div>
<br />
<div>
    <a asp-controller="Fund" asp-action="FundIndex" asp-route-id="@ViewBag.UserId" class="btn btn-primary" role="button">Funds</a>
</div>
<br />
<div>
    <a asp-controller="UserPortfolio" asp-action="UserPortfolioIndex" class="btn btn-primary" role="button">Portfolio</a>
</div>
<br />
<div>
    <a asp-controller="HolidayAPI_User" asp-action="ApiHolidayUserIndex" class="btn btn-primary" role="button">List Of Holidays</a>
</div>
<br />
<div>
    <a asp-controller="CalcAPI" asp-action="ApiCalcCreate" class="btn btn-primary" role="button">Calculator</a>
</div>

