@{
    ViewData["Title"] = "Index";
}

<h1>Stock Well</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h3>About <i>"Stock Well"</i></h3>
<p align="center" style=""><i>
    It a simple user-friendly application which can be used to buy, sell, view and manage stocks from the market.
    So feel light as a feather while dealing stocks....  
</i>
</p>




