@{
    ViewData["Title"] = "Home Page";
}

<h1>Home Page</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <a asp-controller="Admin" asp-action="AdminHomePage" class="btn btn-info" role="button">Enter as Admin</a>
</div>
<div>
    <a asp-controller="ValidUser" asp-action="ValidUserHomePage" class="btn btn-info" role="button">Enter as Valid User</a>
</div>

<div>
    <a asp-controller="HolidayAPI" asp-action="ApiHolidayIndex" class="btn btn-info" role="button">List Of Holidays</a>
</div>


