@{
    ViewData["Title"] = "Index";
}



<h1>Stock Well</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<h3>About <i>"Stock Well"</i></h3>
<p align="center" style=""><i>
    It a simple user-friendly application which can be used to buy, sell, view and manage stocks from the market.
    So feel light as a feather while dealing stocks....  
</i>
</p>

<style>
    body {
        /*        background-image: url('https://img.etimg.com/thumb/width-1200,height-900,imgsize-117108,resizemode-1,msid-94528802/markets/stocks/news/analysts-are-betting-on-4-largecap-stocks-that-can-rise-up-to-11.jpg');*/
        background-image: url('https://p.kindpng.com/picc/s/5-52442_stock-market-graph-up-png-file-stock-market.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        
    }
</style>




