@model Stock4.Models.AuthorizedUser

@{
    ViewData["Title"] = "FundIndex";
    Layout = "_logoutuser";

}
<div>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            <h4>Available Funds</h4>
            @*<h4>@Html.DisplayNameFor(model => model.AvailableFund)</h4>*@
        </dt>
       
        <dd class = "col-sm-2">
            <h4>@Html.DisplayFor(model => model.AvailableFund)</h4>
        </dd>
    </dl>
</div>

<div>
    @using (Html.BeginForm("ToAddFunds", "Fund"))
    {
        <input type="number" name="amount" />
        <br />
        <input type="hidden" id="AvailableFund" name="AvailableFund" value="@Model.AvailableFund" />
        <input class="btn btn-primary btn-sm" type="submit" value="Add Fund">
    }
</div>
<br />
<div>
    @using (Html.BeginForm("ToRemoveFunds", "Fund"))
    {
        <input type="number" name="amount" />
        <br />
        <input type="hidden" id="AvailableFund" name="AvailableFund" value="@Model.AvailableFund" />
        <input class="btn btn-primary btn-sm" type="submit" value="Remove Fund">
    }
</div>
