@model Stock4.Models.AuthorizedUser

@{
    ViewData["Title"] = "FundIndex";
   
}

<h1>FundIndex</h1>



<div>
    <h4>AuthorizedUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailableFund)
        </dt>

        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailableFund)
        </dd>
    </dl>
</div>

<div>
    @using (Html.BeginForm("ToAddFunds", "Fund"))
    {
        <input type="number" name="amount" /><br />
        <input type="hidden" id="AvailableFund" name="AvailableFund" value="@Model.AvailableFund" />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Add Fund">
    }
</div>
<div>
    @using (Html.BeginForm("ToRemoveFunds", "Fund"))
    {
        <input type="number" name="amount" />

        <br />
        <input type="hidden" id="AvailableFund" name="AvailableFund" value="@Model.AvailableFund" />
        <br />
        <br />
        <input class="btn btn-primary" type="submit" value="Remove Fund">
    }
</div>
